body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.info-section{
    max-width: 500px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
}

.fb-logo{
    color: #1877f2;
    font-size: 60px;
    margin-bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
}


.login-card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 24px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,1), 0 8px 16px rgba(0, 0, 0, 0,1);
    width: 396px;
    display: flex;
    flex-direction: column;
}

.login-card input{
    width: 90%;
    height: 52px;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    outline: none;    
    border-radius: 6px;
}

.login-card input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}



.btn-login {
    background-color: #1877f2;
    color: white;            
    border: none;            
    border-radius: 6px;      
    padding: 12px 0;           
    font-size: 20px;          
    font-weight: bold;      
    cursor: pointer;         
    margin-top: 10px;
    width: 100%;
    letter-spacing: 0.5px;
}


.btn-new-account {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0 16px;          
    height: 48px;             
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;            
    
   
    align-self: center;        
}


.btn-new-account:hover {
    background-color: #36a420; 
}



.footer {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: auto; 
    color: #8a8d91;  
    font-size: 12px;   
}

.footer-content {
    max-width: 980px;  
    margin: 0 auto;    
    padding: 0 20px;
}


.languages, .footer-links {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px 20px;  
}

.footer a {
    text-decoration: none;
    color: #8a8d91;
}

.footer a:hover {
    text-decoration: underline; 
}

hr {
    border: none;
    border-top: 1px solid #dddfe2; 
    margin: 10px 0;
}